.title-color {
  color: $color-primary;
  font-weight: 600;
}
.color-white {
  color: white;
}
.light-icon {
  color: white;
  font-size: 2rem;
}
.icon-dark {
  color: #191919;
  font-size: 1.5rem;
}
.dark-card {
  padding: 3rem;
  background: #1a1a1a 0% 0% no-repeat padding-box;
  border-radius: 3rem;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.theme-color {
  color: $color-primary !important;
}
.theme-bg-color {
  background-color: $color-primary;
}
.gradient-card {
  padding: 2rem;
  background: transparent -o-linear-gradient(
      313deg,
      #bedc7c 0%,
      $color-primary 100%
    ) 0% 0% no-repeat padding-box;
  background: transparent
    linear-gradient(137deg, #bedc7c 0%, $color-primary 100%) 0% 0% no-repeat
    padding-box;
  border-radius: 5rem;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
}

.auth-back {
  background-repeat: no-repeat;
}
.auth-card {
  opacity: 0.7;
  text-align: left !important;
  border-radius: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 !important;
}

.register-btn {
  padding-right: 1.3rem !important;
  padding-left: 1.3rem !important;
  font-size: 2rem;
}
.profile-image {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1rem;
}

.profile-image img {
  border-radius: 50%;
}

.plus-sign {
  border-radius: 50% !important;
  padding: 0 !important;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: -3.5rem;
  margin-top: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
