/*color variables*/
$color-primary: #14a384;
$color-primary-light: #bedc7c;
$color-primary-dark: #0f866c;
$color-secondary: #1e1e1e;
$color-secondary-dark: #181818;
$color-text-dark: #555558;
$color-text-light: #93939c;
$color-text: #82828a;
$color-text-2: #696969;
$color-border: #ddd;
$color-bg: #fafaff;
$color-sidebar: #ffffff;
$color-table-rows: #fafafa;
$color-table-heads: #f5f5f5;
$color-active: #5d36fe;
/* other COLORS */

$color-grey-dark: #1a1a1a;
$color-grey-light: #707070;
$color-grey-light-2: #707070;
$color-grey: #00000047;
$color-red: #e80f0f;
$color-red-dark: #c40e0e;
$color-black: #000000;
$color-white: #ffffff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #383838;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-warning: #ffc524;
$color-danger: #f61616;
$color-process: #e66f14;

/* FONT */
$fs-d: 1.6rem;
$fs-h1: 3.2rem;
$fs-h2: 2.4rem;
$fs-h3: 1.875rem;
$fs-h4: 1.6rem;
$fs-h5: 1.328rem;
$fs-h6: 1.072rem;
$fs-qtr: 0.25rem;
$fs-half: 0.5rem;
$fs-1: 1rem;
$fs-1-qtr: 1.25rem;
$fs-1-half: 1.5rem;
$fs-2: 2rem;
$fs-2-qtr: 2.25rem;
$fs-2-half: 2.5rem;
$fs-3: 3rem;
$fs-3-qtr: 3.25rem;
$fs-3-half: 3.5rem;
$fs-4: 4rem;
$fs-4-qtr: 4.25rem;
$fs-4-half: 4.5rem;

/*margins */

$m-qtr: 0.25rem;
$m-half: 0.5rem;
$m-1: 1rem;
$m-1-qtr: 1.25rem;
$m-1-half: 1.5rem;
$m-2: 2rem;
$m-2-qtr: 2.25rem;
$m-2-half: 2.5rem;
$m-3: 3rem;
$m-3-qtr: 3.25rem;
$m-3-half: 3.5rem;
$m-4: 4rem;
$m-4-qtr: 4.25rem;
$m-4-half: 4.5rem;

/*paddings */

$p-qtr: 0.25rem;
$p-half: 0.5rem;
$p-1: 1rem;
$p-1-qtr: 1.25rem;
$p-1-half: 1.5rem;
$p-2: 2rem;
$p-2-qtr: 2.25rem;
$p-2-half: 2.5rem;
$p-3: 3rem;
$p-3-qtr: 3.25rem;
$p-3-half: 3.5rem;
$p-4: 4rem;
$p-4-qtr: 4.25rem;
$p-4-half: 4.5rem;
